<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Package Name="Syncthing Service"
			 Version="1.0.0.0"
			 Manufacturer="Ben"
			 UpgradeCode="7D4BCEF1-FA33-473B-A035-5111CE6F6F9B"
			 Scope="perUser">

		<StandardDirectory Id="ProgramFiles64Folder">
			<Directory Id="CompanyFolder" Name="Benjamin Salzberg">
				<Directory Id="INSTALLFOLDER" Name="SyncthingService" />
			</Directory>
		</StandardDirectory>

		<!-- Main feature - only reference harvested files -->
		<Feature Id="ProductFeature" Title="Syncthing Service" Level="1">
			<ComponentGroupRef Id="RuntimeFiles" />
			<ComponentRef Id="ServiceComponent" />
		</Feature>

		<Component Id="ServiceComponent" Directory="INSTALLFOLDER" Guid="*">
			<File Id="ServiceExecutable"
				  Source="$(var.SyncthingService.TargetPath)"
				  KeyPath="yes" />

			<ServiceInstall Id="ServiceInstaller"
							Type="ownProcess"
							Vital="yes"
							Name="SyncthingService"
							DisplayName="Syncthing Service"
							Description="Syncthing running via windows service. "
							Start="auto"
							Account="LocalSystem"
							ErrorControl="ignore"
							Interactive="no">
				<util:ServiceConfig FirstFailureActionType="restart"
								   SecondFailureActionType="restart"
								   ThirdFailureActionType="restart"
								   RestartServiceDelayInSeconds="30" />
			</ServiceInstall>

			<ServiceControl Id="StartService"
							Start="install"
							Stop="both"
							Remove="uninstall"
							Name="SyncthingService"
							Wait="yes" />
		</Component>
		<ComponentGroup Id="RuntimeFiles" Directory="INSTALLFOLDER">
			<File Source="$(var.SyncthingService.TargetDir)Microsoft.Extensions.Hosting.dll" />
			<File Source="$(var.SyncthingService.TargetDir)Microsoft.Extensions.Logging.dll" />
			<File Source="$(var.SyncthingService.TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
			<File Source="$(var.SyncthingService.TargetDir)Microsoft.Extensions.Primitives.dll" />
			<File Source="$(var.SyncthingService.TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
			<File Source="$(var.SyncthingService.TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
			<File Source="$(var.SyncthingService.TargetDir)Microsoft.Extensions.Options.dll" />
		</ComponentGroup>
	</Package>
</Wix>